<div style="text-align: center; margin-top: 10vh">
  <h1>Welcome to Dev-Duel</h1>
</div>
<div
  style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  "
>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-top: 5vh;
    "
  >
    <div>
      <app-link-button linkText="/inspect" text="Inspect"></app-link-button>
      <br />
      <p style="text-align: center">Look up a fellow dev's Github info</p>
    </div>
    <div class="vl"></div>
    <div>
      <app-link-button linkText="/duel" text="Duel"></app-link-button>
      <br />
      <p style="text-align: center">Pick two devs to go head to head.</p>
    </div>
  </div>
</div>
