* {
  font-family: Roboto;
  font-weight: 300;
}

.profile-card {
  display: flex;
  border: 1px solid #000000BF;
  padding: 10px;
  border-radius: 10px;
  width: 649px;
  height: 468px;
  box-sizing: border-box;
  overflow: hidden;
}

.avatar-bio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
}

.avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.bio {
  word-wrap: break-word; 
  max-width: 200px; 
  white-space: pre-wrap;
  font-size: 14px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66%;
  padding-left: 20px;
}

.user-details div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 8px; 
}

.user-details span {
  font-size: 13px;
  background-color: #E1F1FF;
  padding: 8px;
  border: 1px solid #000000BF;
  border-radius: 5px;
  min-width: 100px;
  margin-right: 10px;
  text-align: center;
}

.user-details div p {
  margin: 0;
}
